<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Friends In Global Health</author>
	<description>${project.parent.description}</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openmrsPlatformVersion}</require_version>
	<!-- / Module Properties -->
	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.DebeziumActivator</activator>
    
    <!-- Global properties -->
    <globalProperty>
        <property>${project.parent.artifactId}.engine.enabled</property>
        <description>
            When set to true, the debezium engine will be started otherwise it will not be started
        </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.database.user</property>
        <description>
            An optional database username for the user account debezium should use to connect to the database to capture
            the changes if different from that of the OpenMRS user defined in the runtime properties file
        </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.database.password</property>
        <description>
            An optional password for the user account debezium should use to connect to the database to capture the
            changes, you only need to set the value of this property if ${project.parent.artifactId}.database.user has
            been specified
        </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.mysql.table.include.list</property>
        <description>
            An optional MySQL specific property that takes a comma-separated list of table names whose changes you want
            to capture, the module does not capture changes in any table not included in this list. By default, the
            connector captures changes in every table. Do not also set of the
            ${project.parent.artifactId}.table.exclude.list property because they are mutually exclusive. This property
            translates to do not capture any tables except these.
        </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.mysql.table.exclude.list</property>
        <description>
            An optional MySQL specific property that takes a comma-separated list of table names whose changes you do
            not want to capture, the module captures changes in any table not included in this list. Do not also set of
            the value of the ${project.parent.artifactId}.table.include.list property because they are mutually
            exclusive. This property translates to capture all tables except these.
        </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.mysql.history.file.filename</property>
        <description>
            A required MySQL specific property that specifies the path to a file where the database history is stored
        </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.offset.storage.file.filename</property>
        <description>A required path to file where offsets are to be stored</description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.snapshot.mode</property>
        <description>
            An optional property that specifies the criteria for running a snapshot when the connector starts, please
            refer to the official documentation of your respective debezium database connector for possible values, the
            default connector is for MySQL.
        </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.mysql.snapshot.locking.mode</property>
        <description>
            An optional MySQL specific property that controls whether and how long the connector holds the global MySQL read lock,
            which prevents any updates to the database, while the connector is performing a snapshot, Possible settings
            are: minimal, minimal_percona, extended, none. The default is extended, for more detailed explanations of
            these values please refer to the official debezium documentation for the MySQL connector.
        </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.mysql.database.ssl.mode</property>
        <description>
            An optional MySQL specific property that specifies whether to use an encrypted connection. Possible settings
            are: disabled, preferred, required, verify_ca, verify_identity. The default is preferred, for more detailed
            explanations of these values please refer to the official debezium documentation for the MySQL connector.
        </description>
    </globalProperty>

</module>

