<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Friends In Global Health</author>
	<description>${project.parent.description}</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openmrsPlatformVersion}</require_version>
	<!-- / Module Properties -->
	
	<!-- Module Activator -->
	<activator>org.openmrs.module.debezium.config.DebeziumActivator</activator>
    
    <!-- Global properties -->
    <globalProperty>
        <property>${project.parent.artifactId}.engine.enabled</property>
        <description>
            When set to true, the debezium engine will be started otherwise it will not be started
        </description>
        <defaultValue>true</defaultValue>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.database.server.id</property>
        <description>
            A required property that specifies the unique id of the database server.
        </description>
        <defaultValue>1045</defaultValue>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.mysql.history.file.filename</property>
        <description>
            A required MySQL specific property that specifies the path to a file where the database history is stored
        </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.offset.storage.file.filename</property>
        <description>A required path to file where offsets are to be stored</description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.mysql.snapshot.locking.mode</property>
        <description>
            An optional MySQL specific property that controls whether and how long the connector holds the global MySQL read lock,
            which prevents any updates to the database, while the connector is performing a snapshot, Possible settings
            are: minimal, minimal_percona, extended, none. The default is extended, for more detailed explanations of
            these values please refer to the official debezium documentation for the MySQL connector.
        </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.mysql.database.ssl.mode</property>
        <description>
            An optional MySQL specific property that specifies whether to use an encrypted connection. Possible settings
            are: disabled, preferred, required, verify_ca, verify_identity. The default is preferred, for more detailed
            explanations of these values please refer to the official debezium documentation for the MySQL connector.
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.event.default.count</property>
        <description>
            Specifies the default value to be returned by the services
        </description>
        <defaultValue>50</defaultValue>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.event.application.name</property>
        <description>
            Specifies the applications names and the desirable tables to be watch and shared with the application
            Ex: PDS: person, person_name,...;MPI: person, person_name, ...
        </description>
    </globalProperty>
</module>

